

# the build
Build
build/
.gradle

# DerivedData
Docs/API

# temp nibs and swap files
*~.nib
*.swp
*.orig

# OS X folder attributes
.DS_Store

# user-specific XCode stuff
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
*.xcuserdatad


# CocoaPods
Pods
Podfile.lock
.xcodeproj/xcshareddata/
*.xcworkspace

